.slider {
    /* default track color: */
    -slider-filled-track-color: blue ;
    -slider-track-color:  blue ;
}

/* Make thumb same color as filled part of track */
.slider .thumb {
    -fx-background-color: -slider-filled-track-color ;
}

.slider .track {
    -fx-background-color: -slider-track-color ;
}