.root {
    -text-color: #555c5d;
 }

.first-color {
    -fx-background-color: #ffffff;
}

.second-color {
    -fx-background-color: #f2f3f5;
}

.third-color {
    -fx-background-color: #e3e5e8;
}

.transparent-color {
    -fx-background-color: none;
}

.text-navi-bar {
    -fx-text-fill: -text-color;
    -fx-font-family: "Arial";
    -fx-font-size: 11;
    -fx-font-style: normal;
    -fx-font-weight: normal;
}

.text-search-bar {
    -fx-text-fill: -text-color;
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-font-style: normal;
    -fx-font-weight: normal;
}

.text-list-search{
    -fx-text-fill: -text-color;
    -fx-font-family: "Arial";
    -fx-font-size: 13;
    -fx-font-style: normal;
    -fx-font-weight: normal;
}

.title-meaning {
    -fx-fill: -text-color;
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.text-meaning {
    -fx-text-fill: -text-color;
    -fx-font-family: "Arial";
    -fx-font-size: 11;
    -fx-font-style: normal;
    -fx-font-weight: normal;
}


