.root {
    -button-color: #747f8d;
    -hover-button-color: #2e3338; 

    -purple-color: #5865F2;
    -hover-purple-color: #4752C4;

    -text-color: #555c5d;
    -hover-text-color: #2e3338;  

    -gray-color: #e6e6e6;
    -title-color: #060607;
    -hover-background-color: #D4D7DC;
}

.first-color {
    -fx-background-color: white;
}

.second-color {
    -fx-background-color: #f2f3f5;
}

.third-color {
    -fx-background-color: #e3e5e8;
}

/* ========================= TextField ========================= */

.text-field {
    -fx-background-image: url('../resource/media/normal/search-bar.png');
    -fx-background-size: 22;
    -fx-background-color: #e3e5e8;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-radius: 0 3 3 0;

    -fx-border-radius: 0 3 3 0;
    -fx-border-width: 1;
    -fx-font-size: 15;
}

.text-field:focused {
    -fx-border-color: -purple-color;
}

/* ========================= ListView ========================= */

.list-cell:odd { 
    -fx-background-color: none;
    -fx-text-fill: -text-color;
    -fx-font-size: 13;
}

.list-cell:even { 
    -fx-background-color: none;
    -fx-text-fill: -text-color;
    -fx-font-size: 13;
}

.list-cell:filled:hover, .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -hover-background-color;
    -fx-text-fill: -hover-text-color;
    -fx-cursor: hand;
}

/* ========================= Text ========================= */

.title-meaning {
    -fx-text-fill: -title-color;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.text-lang-first {
    -fx-text-fill: #283583;
    -fx-font-size: 11;
    -fx-font-weight: bold;
}

.text-lang-second {
    -fx-text-fill: #C91352;
    -fx-font-size: 11;
    -fx-font-weight: bold;
}

/* ========================= HTML Editor ========================= */

.html-editor {
    -fx-pref-width: 100;
    -fx-border-color: -purple-color; 
    -fx-border-radius: 3;   
    -fx-focus-color: none;

    -fx-font-size: 12;
}
 
.html-editor .button, .html-editor .toggle-button {
    -fx-background-color: -hover-background-color;
}

/* ========================= Button ========================= */

.button-eng-viet {
    -fx-graphic: url('../resource/media/normal/eng-viet.png');
    -fx-background-color: #e3e5e8;
    -fx-background-radius: 3 0 0 3;
    -fx-border-width: 0;
    -fx-padding: 2;
    -fx-cursor: hand;
}

.button-viet-eng {
    -fx-graphic: url('../resource/media/normal/viet-eng.png');
    -fx-background-color: #e3e5e8;
    -fx-background-radius: 3 0 0 3;
    -fx-border-width: 0;
    -fx-padding: 2;
    -fx-cursor: hand;
}

.button-speak {
    -fx-background-image: url('../resource/media/normal/speak.png');
    -fx-background-size: 15;
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

.button-speak:hover {
    -fx-background-image: url('../resource/media/hover/speak.png');
    -fx-text-fill: -hover-text-color;
    -fx-cursor: hand;
}

.button-favourite {
    -fx-graphic: url('../resource/media/normal/favourite.png');
    -fx-background-color: none;
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-padding: 0;
}

.button-favourite:hover {
    -fx-graphic: url('../resource/media/hover/favourite.png');
    -fx-background-color: -hover-background-color;
    -fx-text-fill: -hover-text-color;
    -fx-cursor: hand;
}

.button-save {
    -fx-graphic: url('../resource/media/normal/save.png');
    -fx-background-color: none;
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-padding: 0;
}

.button-save:hover {
    -fx-graphic: url('../resource/media/hover/save.png');
    -fx-background-color: -hover-background-color;
    -fx-text-fill: -hover-text-color;
    -fx-cursor: hand;
}

.button-edit {
    -fx-graphic: url('../resource/media/normal/edit.png');
    -fx-background-color: none;
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-padding: 0;
}

.button-edit:hover {
    -fx-graphic: url('../resource/media/hover/edit.png');
    -fx-background-color: -hover-background-color;
    -fx-text-fill: -hover-text-color;
    -fx-cursor: hand;
}

.button-remove {
    -fx-graphic: url('../resource/media/normal/remove.png');
    -fx-background-color: none;
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-padding: 0;
}

.button-remove:hover {
    -fx-graphic: url('../resource/media/hover/remove.png');
    -fx-background-color: -hover-background-color;
    -fx-text-fill: -hover-text-color;
    -fx-cursor: hand;
}